<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Build-A-Pooter</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<% include templates/navbar.ejs %>
	<div id="container">
		<h1 class="sub">Select your parts:</h1>
		<div id="parts">
			<table align="center">
				<tr>
					<td>Computer Case</td>
					<td><% if(computercase){ %>
						<img src="<%= computercase.smallImage %>"/> <%= computercase.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Computer Case" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>

				<tr>
					<td>Mother Board</td>
					<td><% if(motherboard){ %>
						<img src="<%= motherboard.smallImage %>"/> <%= motherboard.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Mother Board" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
				<tr>
					<td>Ram</td>
					<td><% if(ram){ %>
						<img src="<%= ram.smallImage %>"/> <%= ram.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post"
                                ><input type="hidden" value="Ram" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
				<tr>
					<td>Graphics Card</td>
					<td><% if(graphicscard){ %>
						<img src="<%= graphicscard.smallImage %>"/> <%= graphicscard.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Graphics Card" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
				<tr>
					<td>Hard Drive</td>
					<td><% if(harddrive){ %>
						<img src="<%= harddrive.smallImage %>"/> <%= harddrive.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Hard Drive" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
				<tr>
					<td>Power Supply</td>
					<td><% if(powersupply){ %>
						<img src="<%= powersupply.smallImage %>"/> <%= powersupply.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Power Supply" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
                <tr>
                    <td>Processor</td>
                    <td><% if(processor){ %>
                        <img src="<%= processor.smallImage %>"/> <%= processor.partName %>
                        <% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Processor" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
                </tr>
				<!--
				<tr>
					<td>Disc Drive</td>
					<td><% if(discdrive){ %>
						<img src="<%= discdrive.smallImage %>"/> <%= discdrive.partName %>
						<% } %></td>
                    <td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Disc Drive" name="search">
                            <input type="submit" value="Select">
                        </form>
                    </td>
				</tr>
				-->
			</table>

            <div id="amazon">
                <form method="GET" action="http://www.amazon.ca/gp/aws/cart/add.html">
                    <input type="image" name="add" src="http://juniortraveller.com/wp-content/uploads/CheckoutAmazon-1.png" />
                    <input type="hidden" name="AWSAccessKeyId" value=<%= awsId %> /><br/>
                    <input type="hidden" name="AssociateTag" value=<%= assocId %> /><br/>
                    <% if(computercase) { %>
                    <input type="hidden" name="ASIN.1" value="<%= computercase.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.1" value="1"/><br/>
                    <% if(motherboard) { %>
                    <input type="hidden" name="ASIN.2" value="<%= motherboard.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.2" value="1"/><br/>
                    <% if(ram) { %>
                    <input type="hidden" name="ASIN.3" value="<%= ram.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.3" value="1"/><br/>
                    <% if(graphicscard) { %>
                    <input type="hidden" name="ASIN.4" value="<%= graphicscard.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.4" value="1"/><br/>
                    <% if(harddrive) { %>
                    <input type="hidden" name="ASIN.5" value="<%= harddrive.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.5" value="1"/><br/>
                    <% if(powersupply) { %>
                    <input type="hidden" name="ASIN.6" value="<%= powersupply.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.6" value="1"/><br/>
                    <% if(processor) { %>
                    <input type="hidden" name="ASIN.7" value="<%= processor.ASIN%>"/><br/>
                    <% } %>
                    <input type="hidden" name="Quantity.7" value="1"/><br/>
                </form>
            </div>


	</div>

</div>

</body>
</html>