<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Build-A-Pooter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<% var total = 0; %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Build-A-Pewter</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/buildAPooter">Build</a></li>
                <li><a href="/builds">Saved Builds</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="login">Login</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> Username <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Saved Builds</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header">
    <div class="container">
        <h1><a href="/">Build-A-Pewter</a></h1>
    </div>
</div>
    <h1 class="sub">Select Computer Components:</h1>

        <div class="container" style="max-width:700px;">
            <!--COMPUTER CASES-->
			<table class="table">
				<tr>
					<td style="font-size:20px;"><strong>Computer Case</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Computer Case" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr><% if(computercase){ %>
                    <td class="maxImg"><img src="<%= computercase.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"><%= computercase.partName%></td>
                    <td align="right" class="price"><%= computercase.price %></td>
                    <% } %>
                </tr>
            </table>
            <!--MOTHER BOARD-->
            <table class="table">
				<tr>
					<td style="font-size:20px;"><strong>Mother Board</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Mother Board" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr><% if(motherboard){ %>
                    <td class="maxImg"><img src="<%= motherboard.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"><%= motherboard.partName %></td>
                    <td align="right" class="price"> <%= motherboard.price %></td>
                    <% } %>
				</tr>
                </table>
            <!--RAM-->
            <table class="table">
				<tr>
					<td style="font-size:20px;"><strong>Ram</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Ram" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr>
					<% if(ram){ %>
                        <td class="maxImg"><img src="<%= ram.smallImage %>" style="float: left"/>
                        <td class="center itemName"><%= ram.partName %></td>
                        <td align="right" class="price"><%= ram.price %></td>
                    <% } %>
				</tr>
                </table>
            <!-- GRAPHICS CARD-->
            <table class="table">
				<tr>
                    <td style="font-size:20px;"><strong>Graphics Card</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Graphics Card" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr>
					<% if(graphicscard){ %>
                    <td class="maxImg"><img src="<%= graphicscard.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"> <%= graphicscard.partName %></td>
                    <td align="right" class="price"> <%= graphicscard.price %></td>
                    <% } %>

				</tr>
            </table>
            <!--HARDDRIVE-->
            <table class="table">
				<tr>
					<td style="font-size:20px;"><strong>Hard Drive</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Hard Drive" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr>
					<% if(harddrive){ %>
                    <td class="maxImg"><img src="<%= harddrive.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"><%= harddrive.partName %></td>
                    <td align="right" class="price"><%= harddrive.price %></td>
						<% } %>

				</tr>
            </table>
            <!--POWER SUPPLY-->
            <table class="table">
				<tr>
					<td style="font-size:20px;"><strong>Power Supply</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Power Supply" name="search">
                        <td align="right" ><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr>
					<% if(powersupply){ %>
                    <td class="maxImg"><img src="<%= powersupply.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"> <%= powersupply.partName %></td>
                    <td align="right" class="price"><%= powersupply.price %></td>
                    <% } %>
				</tr>
            </table>
            <!-- PROCESSOR-->
            <table class="table">
                <tr>
                    <td style="font-size:20px;"><strong>Processor</strong></td>
                    <td></td>
                    <form action="/buildAPooter" method="post">
                        <input type="hidden" value="Processor" name="search">
                        <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                    </form>
                </tr>
                <tr>
                    <% if(processor){ %>
                    <td class="maxImg"><img src="<%= processor.smallImage %>" style="float: left"/></td>
                    <td class="center itemName"><%= processor.partName %></td>
                    <td align="right" class="price"><%= processor.price %></td>
                    <% } %>
                </tr>
            </table>

            <!-- PERIPHERALS!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <% if( computercase || processor || motherboard || ram || powersupply || graphicscard || harddrive ){ %>

            <h1 class="sub">Select your peripherals:</h1>
            <div id="container">
                <table class="table">
                    <tr>
                        <td style="font-size:20px;"><strong>Monitor</strong></td>
                        <td></td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Monitor" name="search">
                            <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                        </form>
                    </tr>
                    <tr>
                        <% if(monitor){ %>
                        <td class="maxImg"><img src="<%= monitor.smallImage %>" style="float: left"/></td>
                        <td class="center itemName"> <%= monitor.partName %></td>
                        <td align="right" class="price"> <%= monitor.price %></td>
                        <% } %>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td style="font-size:20px;"><strong>Keyboard</strong></td>
                        <td></td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Keyboard" name="search">
                            <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                        </form>
                    </tr>
                    <tr>
                        <% if(keyboard){ %>
                        <td class="maxImg"><img src="<%= keyboard.smallImage %>" style="float: left"/> </td>
                        <td class="center itemName">  <%= keyboard.partName %></td>
                        <td align="right" class="price">  <%= keyboard.price %></td>
                            <% } %>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td style="font-size:20px;"><strong>Webcam</strong></td>
                        <td></td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Webcam" name="search">
                            <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                        </form>
                    </tr>
                    <tr>
                        <% if(webcam){ %>
                        <td class="maxImg"><img src="<%= webcam.smallImage %>" style="float: left"/></td>
                        <td class="center itemName"> <%= webcam.partName %></td>
                        <td align="right" class="price"><%= webcam.price %></td>
                        <% } %>

                        <td>Mouse</td>
                        <td><% if(computermouse){ %>
                            <img src="<%= computermouse.smallImage %>" style="float: left"/> <%= computermouse.partName %><br><%= computermouse.price %>
                            <% } %></td>
                        <td>
                            <form action="/buildAPooter" method="post">
                                <input type="hidden" value="Wire Mouse" name="search">
                                <input type="submit" value="Select">
                            </form>
                        </td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td style="font-size:20px;"><strong>Headset</strong></td>
                        <td></td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Headset" name="search">
                            <td align="right"><input class="btn btn-default" type="submit" value="Select"></td>
                        </form>
                    </tr>
                    <tr>
                        <% if(headset){ %>
                        <td class="maxImg"><img src="<%= headset.smallImage %>" style="float: left"/></td>
                        <td class="center itemName"> <%= headset.partName %></td>
                        <td align="right" class="price"><%= headset.price %></td>
                        <% } %>

                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td style="font-size:20px;"><strong>Mouse</strong></td>
                        <td></td>
                        <form action="/buildAPooter" method="post">
                            <input type="hidden" value="Computermouse" name="search">
                            <td align="right"> <input class="btn btn-default" type="submit" value="Select"></td>
                        </form>
                    </tr>
                    <tr>
                        <% if(computermouse){ %>
                        <td class="maxImg"><img src="<%= computermouse.smallImage %>" style="float: left"/></td>
                        <td class="center itemName"><%= computermouse.partName %></td>
                        <td align="right" class="price"> <%= computermouse.price %></td>
                        <% } %>
                    </tr>
                </table>
            <% if( computercase || processor || motherboard || ram || powersupply || graphicscard || harddrive || monitor || keyboard || webcam || headset || computermouse ){ %>
                <div id="amazon">

                    <%  if( computercase )
                        {
                        total = (computercase.numPrice / 100) + total;
                        } %>
                    <%
                        if( processor )
                        {
                            total = (processor.numPrice / 100) + total;
                        } %>
                    <%
                        if ( motherboard ) {
                            total = (motherboard.numPrice / 100) + total;
                        } %>
                    <%
                        if ( ram )
                        {
                            total = (ram.numPrice / 100) + total;
                        } %>
                    <%
                        if ( powersupply )
                        {
                            total = (powersupply.numPrice / 100) + total;
                        } %>
                    <%
                        if ( graphicscard )
                        {
                            total = (graphicscard.numPrice / 100) + total;
                        } %>
                    <%
                        if ( harddrive )
                        {
                            total = (harddrive.numPrice / 100) + total;
                        } %>
                    <%
                        if ( monitor )
                        {
                            total = (monitor.numPrice / 100) + total;
                        } %>
                    <%
                        if ( keyboard )
                        {
                            total = (keyboard.numPrice / 100) + total;
                        } %>
                    <%
                        if ( webcam )
                        {
                            total = (webcam.numPrice / 100) + total;
                        } %>
                    <%
                        if ( headset )
                        {
                            total = (headset.numPrice / 100) + total;
                        } %>
                    <%
                        if ( computermouse )
                        {
                            total = (computermouse.numPrice / 100) + total;
                        } %>

                    <h1>Total Price: $<%= total.toFixed(2) %></h1>
                    <form method="GET" action="http://www.amazon.com/gp/aws/cart/add.html">
                        <tr><td colspan="3"><input type="image" name="add" src="http://juniortraveller.com/wp-content/uploads/CheckoutAmazon-1.png" /></td></tr>
                        <input type="hidden" name="AWSAccessKeyId" value=<%= awsId %> />
                        <input type="hidden" name="AssociateTag" value=<%= assocId %> />
                        <% if(computercase) { %>
                        <input type="hidden" name="ASIN.1" value="<%= computercase.ASIN%>"/>
                        <input type="hidden" name="Quantity.1" value="1"/>
                        <% } %>
                        <% if(motherboard) { %>
                        <input type="hidden" name="ASIN.2" value="<%= motherboard.ASIN%>"/>
                        <input type="hidden" name="Quantity.2" value="1"/>
                        <% } %>
                        <% if(ram) { %>
                        <input type="hidden" name="ASIN.3" value="<%= ram.ASIN%>"/>
                        <input type="hidden" name="Quantity.3" value="1"/>
                        <% } %>
                        <% if(graphicscard) { %>
                        <input type="hidden" name="ASIN.4" value="<%= graphicscard.ASIN%>"/>
                        <input type="hidden" name="Quantity.4" value="1"/>
                        <% } %>
                        <% if(harddrive) { %>
                        <input type="hidden" name="ASIN.5" value="<%= harddrive.ASIN%>"/>
                        <input type="hidden" name="Quantity.5" value="1"/>
                        <% } %>
                        <% if(powersupply) { %>
                        <input type="hidden" name="ASIN.6" value="<%= powersupply.ASIN%>"/>
                        <input type="hidden" name="Quantity.6" value="1"/>
                        <% } %>
                        <% if(processor) { %>
                        <input type="hidden" name="ASIN.7" value="<%= processor.ASIN%>"/>
                        <input type="hidden" name="Quantity.7" value="1"/>
                        <% } %>
                        <% if(monitor) { %>
                        <input type="hidden" name="ASIN.8" value="<%= monitor.ASIN%>"/>
                        <input type="hidden" name="Quantity.8" value="1"/>
                        <% } %>
                        <% if(keyboard) { %>
                        <input type="hidden" name="ASIN.9" value="<%= keyboard.ASIN%>"/>
                        <input type="hidden" name="Quantity.9" value="1"/>
                        <% } %>
                        <% if(webcam) { %>
                        <input type="hidden" name="ASIN.10" value="<%= webcam.ASIN%>"/>
                        <input type="hidden" name="Quantity.10" value="1"/>
                        <% } %>
                        <% if(headset) { %>
                        <input type="hidden" name="ASIN.11" value="<%= headset.ASIN%>"/>
                        <input type="hidden" name="Quantity.11" value="1"/>
                        <% } %>
                        <% if(computermouse) { %>
                        <input type="hidden" name="ASIN.12" value="<%= computermouse.ASIN%>"/>
                        <input type="hidden" name="Quantity.12" value="1"/>
                        <% } %>
                    <% }} %>
                </form>
            </table>
        </div>
<script>
    $("img#imgHover").hover(function(){
                $(this).attr("src", $(this).attr("data-thumbnail-med"));},
            function(){
                $(this).attr("src", $(this).attr("data-thumbnail-sml"));
            });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
            </div>
	    </div>
</body>
</html>